:root {
  --primary-color: #59a87d;
  --secondary-color: #f0debb;
  --accent-color: #541734;
  --text-color: #091c1a;
  --background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Jaro', sans-serif !important;
}

header img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 50px;
}

.presentation-container {
  display: flex;
  justify-content: center; 
  gap: 100px;
}

.presentation-container .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.presentation-container img {
  max-width: 800px;
}

/* Benefícios */
.benefits h2 {
  text-align: center;
}

.benefits-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.benefit-item {
  text-align: center;
  flex: 1;
}

.benefit-item img {
  max-width: 80px;
  margin-bottom: 10px;
}

.projects h2 {
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.project img {
  height: 350px;
  max-width: 450px;
}

.logos h2 {
  text-align: center;
}

.logos-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.logos-container img {
  height: 150px;
  width: 300px;
}

/* Formulário */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 50px;
}

.contact .message {
  width: 100%;
}

.contact .quote {
  padding: 15px;
  border: 1px solid var(--text-color);
}

.contact .headline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact img {
  width: 50px;
}

form {
  padding: 15px;
  border: 1px solid var(--text-color);
  border: 1px solid var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button.cta-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

footer p {
  padding: 30px;
  text-align: center;
}